<% provide :title, 'Edit Item Type' %>

<h1><%= yield :title %></h1>
<div class="table mt-5">
  <%= form_with(url: item_type_path, method: :put, local: true) do |form| %>
    <%# TODO: enforce case-insensitive uniqueness w/o mangling user-entered names %>
    <%= form.label(:type_name, 'Item type name:') %>
    <%= form.text_field(:type_name, value: @item_type.type_name.titleize) %>

    <%= form.label(:type_active, 'Item type active:') %>
    <%= form.check_box(:type_active, checked: @item_type.type_active) %>

    <%= form.hidden_field(:id, value: @item_type.id) %>

    <div><%= form.submit('Update item type') %></div>
  <% end %>
</div>
