<h1>Edit user</h1>
<div class="table mt-5">
  <%= form_with(url: user_path, method: :put, local: true) do |form| %>

    <%= form.label(:user_role, "User role:") %>
    <%= form.select(:user_role, options_for_select(User::ROLES, @user.user_role)) %>

    <%= form.label(:user_name, "User name:") %>
    <%= form.text_field :user_name, value: @user.user_name %>

    <%= form.label(:uid, "UID:") %>
    <%= form.text_field :uid, value: @user.uid %>

    <%= form.label(:user_active, "Active user") %>
    <%= form.check_box(:user_active, checked: @user.user_active) %>
    <%= form.hidden_field(:id, value: @user.id) %>
    <div><%= submit_tag("Update user") %></div>
  <% end %>
</div>
