<div class="mb-4 form-group">
    <h2>Add a new location</h2>
    <%= form_tag("role_insert", method: "post") do %>
    <%= label_tag(:role_name, "role name") %>
    <%=text_field_tag :role_name, nil, placeholder: '' %>

    <%= label_tag(:role_level, "role level") %>
    <%=text_field_tag :role_level, nil, placeholder: '' %>

    <%= submit_tag("add role") %>
<% end %>
</div>

<h2>Active Locations</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Location Name</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @Roles = Role.all %>
        <% @Roles.each do |role| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', role_path(role)+"/role_delete"%>
            </td>
            <td><%= role.role_name %></td>
            </tr>
        <% end %>
        </tbody>
    </table>

