<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if user_level_admin? %>
<h1>Add/Edit Item types</h1>
<div class="mb-4 form-group">
    <h2>Add a new Item Type</h2>
    <%= form_tag("itemType_insert", method: "post") do %>
    <%= label_tag(:type_name, "Item Type name") %>
    <%=text_field_tag :type_name, nil, placeholder: 'e.g Electronics', required: true %>

    <%= submit_tag("Add item type") %>
<% end %>
</div>

<h2>Active Item Types</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Item Type name</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @actived_item_types.each do |item_type| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', item_type_path(item_type)+"/change_status"%>
                <%= link_to 'Edit', edit_item_type_path(item_type.id) %>
            </td>
            <td><%= item_type.type_name.titleize %></td>
            </tr>
        <% end %>
        </tbody>
    </table>


<h2>Deactivated Item Types</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Item Type Name</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @deactivated_item_types.each do |item_type| %>
        <tr>
            <td>
                <%= link_to 'Activate', item_type_path(item_type)+"/change_status"%>
                <%= link_to 'Edit', edit_item_type_path(item_type.id) %>
            </td>
            <td><%= item_type.type_name.titleize %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>