<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if  2==2 %>

<div class="mb-4 form-group"> 
    <h1>Add/Edit Lost & Found Users</h1>
    <h2>Add a new user</h2>
    <%= form_tag("user_insert", method: "post") do %>

    <%= label_tag(:user_role, "User role:") %>
    <%= select_tag(:user_role, options_for_select(@roles_layout)) %>

    <%= label_tag(:user_name, "User name:") %>
    <%=text_field_tag :user_name, nil, placeholder: 'John Smith' , required: true%>

    <%= label_tag(:uid, "User ID:") %>
    <%=text_field_tag :uid, nil, placeholder: 'UID', required: true %>

    <div>
        <div class="btn-group" role="group">
          <input type="submit" name="commit" value="Add user" class="btn btn-primary" data-disable-with="Submit">
        </div>
    </div>
    <% end %>
</div>

<h2>Active Users</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">UID</th>
            <th scope="col">User name</th>
            <th scope="col">User role</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @actived_users.each do |user| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', user_path(user)+"/change_status"%>
                <%= link_to 'Edit', edit_user_path(user.id) %>
            </td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %>
            </tr>
        <% end %>
        </tbody>
    </table>

<h2>Deactivated Users</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">UID</th>
            <th scope="col">User name</th>
            <th scope="col">User role</th>
        </tr>
    </thead>
    <tbody>
        <% @deactivated_users.each do |user| %>
        <tr>
            <td>
                <%= link_to 'Activate', user_path(user)+"/change_status"%>
                <%= link_to 'Edit', edit_user_path(user.id) %>
            </td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %>
            </tr>
        <% end %>
        </tbody>
    </table>


<% end %>
