
<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if user_level_staff? %>
<h1>Set a date to purge from</h1>

<div class="mb-4 form-group">
    <%= form_tag("purge_items", method: "post", multipart: true) do %>

    <%= label_tag(:purgeTime, "Purge date:") %>
    <%= date_field_tag(:purgeTime, :itemDate, required: true) %>

    <div style="padding: 10px 0px 10px 0px; font-weight: bold;">Added by: <%= cookies[:user_name] %> 
</div>

    <%= submit_tag("Add item") %>
<% end %>
</div>
<% end %>