<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_admin? %>

<div class="new_model_container"> 
    <h2>Add a new user</h2>
    <%= form_tag("user_insert", method: "post") do %>

    <%= label_tag(:user_role, "User Role:") %>
    <%= select_tag(:user_role, options_for_select(@roles_layout)) %>

    <%= label_tag(:user_name, "User name") %>
    <%=text_field_tag :user_name, nil, placeholder: '' %>

    <%= label_tag(:uid, "associated users ID") %>
    <%=text_field_tag :uid, nil, placeholder: '' %>

    <%= submit_tag("add user") %>
    <% end %>
</div>

<h2>Active Users</h2>
<table class="admin_table">
    <tr>
        <th>Actions</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <% @actived_users.each do |user| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', user_path(user)+"/change_status"%>
                <%= link_to 'edit', edit_user_path(user.id) %>
            </td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %></td>
        </tr>
    <% end %>
</table>

<h2>Deactivated Users</h2>
<table class="admin_table admin_deactivated_table">
    <tr>
        <th>Actions</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <% @deactivated_users.each do |user| %>
        <tr>
            <td>
                <%= link_to 'Activate', user_path(user)+"/change_status"%>
                <%= link_to 'edit', edit_user_path(user.id) %>
            </td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %></td>
        </tr>
    <% end %>
</table>

<% else %> 
    <p>You do not have permission to access this page</p>
<% end %>