<h1>Enter date (all items found before this date will be deleted)</h1>

<div class="mb-4 form-group">
  <%= form_with(url: purge_items_path, local: true) do |form| %>

    <%= form.label(:purge_date, 'Purge date:') %>
    <%= form.date_field(:purge_date, required: true) %>

    <div style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;">Current user: <%= current_user.user_name %>
    </div>

    <%= submit_tag('Purge items') %>
  <% end %>
</div>
