<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_admin? %>
<div class="mb-4 form-group">
    <h2>Add a new location</h2>
    <%= form_tag("location_insert", method: "post") do %>
    <%= label_tag(:location_name, "Location name") %>
    <%=text_field_tag :location_name, nil, placeholder: '' %>

    <%= submit_tag("add location") %>
<% end %>
</div>

<h2>Active Locations</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Location Name</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @actived_locations.each do |location| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', location_path(location)+"/change_status"%>
                <%= link_to 'Edit', edit_location_path(location.id) %>
            </td>
            <td><%= location.location_name %></td>
            </tr>
        <% end %>
        </tbody>
    </table>



<h2>Deactivated Locations</h2>
<table class="table mt-5">
    <!-- the header row -->
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Location Name</th>
        </tr>
    </thead>
    <!-- Layout all those beautiful requests -->
    <tbody>
        <% @deactivated_locations.each do |location| %>
        <tr>
            <td>
                <%= link_to 'Deactivate', location_path(location)+"/change_status"%>
                <%= link_to 'edit', edit_location_path(location.id) %>
            </td>
            <td><%= location.location_name %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>



