
<%= stylesheet_link_tag 'admin', media: 'all' %>
<% if user_level_staff? %>
<h1>Add batch item_batch_insert</h1>

<div class="mb-4 form-group">
    <%= form_tag("item_batch_insert", method: "post", multipart: true) do %>

    <%= label_tag(:batch_file, "Batch file: ") %>
    <%= file_field_tag(:batch_file) %>

    <div style="padding: 10px 0px 10px 0px; font-weight: bold;">Added by: <%= session[:user_name] %>
</div>

    <%= submit_tag("Add Items") %>
<% end %>
</div>
<% end %>
