<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_admin? %>
<div class="new_model_container">
    <h2>Add a new location</h2>
    <%= form_tag("location_insert", method: "post") do %>
    <%= label_tag(:location_name, "Location name") %>
    <%=text_field_tag :location_name, nil, placeholder: '' %>

    <%= submit_tag("add location") %>
<% end %>
</div>

<h2>Active Locations</h2>
<table class="admin_table">
    <tr>
        <th>Actions</th>
        <th> Name</th>
    </tr>
    <% @actived_locations.each do |location| %>
    <tr>
        <td>
            <%= link_to 'Deactivate', location_path(location)+"/change_status",
            data: { confirm: 'Are You sure?' } %>
            <%= link_to 'edit', edit_location_path(location.id) %>
        </td>
        <td><%= location.location_name %></td>
    </tr>
    <% end %>
</table>

<h2>Deactivated Locations</h2>
<table class="admin_table admin_deactivated_table">
    <tr>
        <th>Actions</th>
        <th> Name</th>
    </tr>
    <% @deactivated_locations.each do |location| %>
    <tr>
        <td>
            <%= link_to 'Activate', location_path(location)+"/change_status",
            data: { confirm: 'Are You sure?' } %>
            <%= link_to 'edit', edit_location_path(location.id) %>
        </td>
        <td><%= location.location_name %></td>
    </tr>
    <% end %>
</table>
<% else %> 
    <p>You do not have permission to access this page</p>
<% end %>