<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="new_model_container"> 
    <h1>Add a new user</h1>
    <%= form_tag("user_insert", method: "post") do %>

    <%= label_tag(:user_role, "user Role:") %>
    <%= select_tag(:user_role, options_for_select(@roles_layout)) %>

    <%= label_tag(:user_name, "User name") %>
    <%=text_field_tag :user_name, nil, placeholder: '' %>

    <%= label_tag(:uid, "associated users ID") %>
    <%=text_field_tag :uid, nil, placeholder: '' %>

    <%= submit_tag("add user") %>
<% end %>
</div>

<h3>Active Users</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <% @actived_users.each do |user| %>
        <tr>
            <td><%= link_to 'Delete', user_path(user)+'/destroy',
                data: { confirm: 'Are You sure?' } %></td>
            <td><%= link_to 'Deactivate', user_path(user)+"/change_status",
                data: { confirm: 'Are You sure?' } %></td>
            <td><%= link_to 'edit', edit_user_path(user.id) %></td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %></td>
        </tr>
    <% end %>
</table>

<h3>Deactivated Users</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <% @deactivated_users.each do |user| %>
        <tr>
            <td><%= link_to 'Activate', user_path(user)+"/change_status",
                data: { confirm: 'Are You sure?' } %></td>
            <td><%= link_to 'edit', edit_user_path(user.id) %></td>
            <td><%= user.uid %></td>
            <td><%= user.user_name %></td>
            <td><%= user.user_role %></td>
        </tr>
    <% end %>
</table>

<div class="new_model_container">
    <h1>Add a new location</h1>
    <%= form_tag("location_insert", method: "post") do %>
    <%= label_tag(:location_name, "Location name") %>
    <%=text_field_tag :location_name, nil, placeholder: '' %>

    <%= submit_tag("add location") %>
<% end %>
</div>

<h3>Active Locations</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th> Name</th>
    </tr>
    <% @actived_locations.each do |location| %>
    <tr>
        <td><%= link_to 'Deactivate', location_path(location)+"/change_status",
            data: { confirm: 'Are You sure?' } %></td>
        <td><%= link_to 'edit', edit_location_path(location.id) %></td>
        <td><%= location.location_name %></td>
    </tr>
    <% end %>
</table>

<h3>Deactivated Locations</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th> Name</th>
    </tr>
    <% @deactivated_locations.each do |location| %>
    <tr>
        <td><%= link_to 'Activate', location_path(location)+"/change_status",
            data: { confirm: 'Are You sure?' } %></td>
        <td><%= link_to 'edit', edit_location_path(location.id) %></td>
        <td><%= location.location_name %></td>
    </tr>
    <% end %>
</table>

<div class="new_model_container">
    <h1>Add a new Item Type</h1>
    <%= form_tag("itemType_insert", method: "post") do %>
    <%= label_tag(:type_name, "item name") %>
    <%=text_field_tag :type_name, nil, placeholder: '' %>

    <%= label_tag(:type_description, "item type description") %>
    <%=text_field_tag :type_description, nil, placeholder: '' %>

    <%= submit_tag("add item Type") %>
<% end %>
</div>

<h3>Active Item Types</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th>Item Type Name</th>
        <th>Item Type Description</th>
    </tr>
    <% @actived_item_types.each do |item_type| %>
    <tr>
        <td><%= link_to 'Deactivate', item_type_path(item_type)+"/change_status",
            data: { confirm: 'Are You sure?' } %></td>
        <td><%= link_to 'edit', edit_item_type_path(item_type.id) %></td>
        <td><%= item_type.type_name %></td>
        <td><%= item_type.type_description %></td>
        <td><%= item_type.type_active ? "Activated" : "Deactivated" %></td>
    </tr>
    <% end %>
</table>

<h3>Deactivated Item Types</h3>
<table class="item-display">
    <tr>
        <th>Actions</th>
        <th>Item Type Name</th>
        <th>Item Type Description</th>
    </tr>
    <% @deactivated_item_types.each do |item_type| %>
    <tr>
        <td><%= link_to 'Activate', item_type_path(item_type)+"/change_status",
            data: { confirm: 'Are You sure?' } %></td>
        <td><%= link_to 'edit', edit_item_type_path(item_type.id) %></td>
        <td><%= item_type.type_name %></td>
        <td><%= item_type.type_description %></td>
    </tr>
    <% end %>
</table>



