<!DOCTYPE html>
<html>
   <head>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <title>Login - Lost and Found</title>
   </head>
   <body onload="javascript: document.getElementById('un').focus();">
            <table id="wrapper" >
               <tr>
                  <td colspan="2" class="header">
                  <%= logo_link %>
                    </td
               </tr>
               <tr>
                  <td class="leftnav" valign="top">
                     <p class="nav_link" ><a href="#">Insert Form</a></p>
                     <p class="nav_link"><a href="/search_form">Search Form</a></p>
                     <p class="nav_link"><a href="/admin">Admin</a></p>
                     <p class="nav_link"><a href="#">Logout</a></p>
                  </td>
                  <td class="content">
                     <h2>Login</h2>
                     <p>Enter your username and password to login.</p>
                     <p class="nav_link"></p><%= login_form %> </p>
      <div class="footer">
        <%= staff_web_link %>
        <%= staff_nav %>
        <%= footer_partial %>
      </div>
   </body>
</html>