<%= stylesheet_link_tag 'admin', media: 'all' %>
<h1>Claimed and purged items</h1>

<table id="claimed_items_table" class="table mt-5">
  <thead class="thead-light">
  <tr>
    <th scope="col">Actions</th>
    <th scope="col">Date found</th>
    <th scope="col">Time found</th>
    <th scope="col">Found by</th>
    <th scope="col">Item location</th>
    <th scope="col">Where Found</th>
    <th scope="col">Type of item</th>
    <th scope="col">Item description</th>
    <th scope="col">Item image</th>
    <th scope="col">Updated by</th>
    <th scope="col">Updated at</th>
    <th scope="col">Claimed By</th>
  </tr>
  </thead>
  <tbody>
  <%= paginate @items_claimed %>
  <% @items_claimed.each do |item| %>
    <tr>
      <td>
        <% if current_user.staff_or_admin? %>
          <span><%= link_to 'Edit', edit_item_path(item.id) %></span>
          <%= link_to 'History', item_path(item.id) %>
        <% end %>
      </td>
      <% if item.date_found %>
        <td><%= item.date_found.strftime("%m/%d/%Y") %></td>
      <% else %>
        <td><%= 'None' %> </td>
      <% end %>
      <% if item.found_at %>
        <td><%= item.found_at.strftime("%l:%M %P") %></td>
      <% else %>
        <td><%= 'None' %> </td>
      <% end %>
      <td><%= item.found_by || 'No one' %></td>
      <td><%= item.location || 'None' %></td>
      <td><%= item.where_found || 'None' %></td>
      <td><%= item.item_type || 'No type' %></td>
      <td class="desc"><%= item.description || 'None' %></td>
      <td>
        <% if item.image.attached? %>
          <img class="preview_image" src="<%= (url_for(item.image)) %>" onerror="this.style.display = 'none'">
        <% else %>
          No image
        <% end %>
      </td>
      <td><%= item.updated_by || 'None' %></td>
      <% if item.updated_at != item.created_at %>
        <td><%= item.updated_at.in_time_zone.strftime("%m/%d/%Y %l:%M %P") %></td>
      <% else %>
        <td><%= 'None' %> </td>
      <% end %>
      <td><%= item.claimed_by || 'None' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
