<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
		<div class="addit">&nbsp;</div>
		<h1>Items list</h1>
			<table class="admin_table">
				<tr>
					<th>Actions</th>
					<th>Date</th>
					<th>Time</th>
					<th>Found by</th>
					<th>Found at</th>
					<th>Type of item</th>
					<th>Item description</th>
				</tr>
				<% @items_found.each do |item| %>
				<tr>
					<td>
						<%= link_to 'edit', edit_item_path(item.id) %>
				</td>
					<td><%= item.itemDate %></td>
					<td><%= item.itemFoundAt %></td>
					<td><%= item.itemFoundBy %></td>
					<td><%= item.itemLocation || 'none' %></td>
					<td><%= item.itemType || 'No type' %></td>
					<td><%= item.itemDescription %></td>
				</tr>
				<% end %>
			</table>

