<!DOCTYPE html>
<html>
	<head>
		<title>Lost and Found</title>
		<%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
		'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div id="branding">
			<img
				id="logo"
				alt="UC Berkeley Library Logo"
				src="https://www.lib.berkeley.edu/Staff/images/library_logo.png"
			/>
			<div class="subhead">
				Lost & Found
			</div>
		</div>
		<nav class="navigation" id="main-navigation">
			<button id="menu-bars">
				<span class="screen-reader-text">Show/hide menu</span>
				<i class="fas fa-bars"></i>
			</button>
			<ul class="main-menu">
				<li>
					<p class="nav_link"><a href="/item_all"> View All</a></p>
				</li>
				<li>
					<p class="nav_link"><a href="/insert_form">Insert Form</a></p>
				</li>
				<li>
					<p class="nav_link"><a href="/search_form">Search Form</a></p>
				</li>
				<li>
					<p class="nav_link"><a href="/admin">Admin</a></p>
				</li>
				<li>
					<p class="nav_link"><a href="/logout">logout</a></p>
				</li>
			</ul>
		</nav>
		<div class="addit">&nbsp;</div>
		<h1>Items list</h1>
			<table class="item-display">
				<tr>
					<th>Actions</th>
					<th>Item ID</th>
					<th>Date</th>
					<th>Time</th>
					<th>Found by</th>
					<th>Found at</th>
					<th>Type of item</th>
					<th>Item description</th>
				</tr>
				<% @items.each do |item| %>
				<tr>
					<td>
						<%= link_to("Delete", '#', :class => 'action show') %> <%= link_to("Edit", '#', :class => 'action edit') %>
					</td>
					<td><%= item.itemDate %></td>
					<td><%= item.itemFoundAt %></td>
					<td><%= item.itemFoundBy %></td>
					<td><%= item.locations[item.itemLocation] || 'none' %></td>
					<td><%= item.types[item.itemType.to_i] || 'No type' %></td>
					<td><%= item.itemDescription %></td>
				</tr>
				<% end %>
			</table>


		<footer id="footer">
			<p align="center">
				Copyright The Regents of the University of California. All rights reserved. Last updated 02/28/20.

				<a href="/help/contact">Contact us</a>
			</p>

			<img
				src="https://www.lib.berkeley.edu/Staff/images/footer_logo.svg"
				alt="UC Berkeley Logo"
				id="footer-logo"
			/>
		</footer>
	</body>
</html>
