<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Claimed items</h1>
<table class="table mt-5">
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Date</th>
            <th scope="col">Found At</th>
            <th scope="col">Found By</th>
            <th scope="col">Item Location</th>
            <th scope="col">Type of Item</th>
            <th scope="col">Item Description</th>
            <th scope="col">Item Image</th>
            <th scope="col">Last updated</th>
            <th scope="col">Last updated</th>
            <th scope="col">Claimed By</th>
        </tr>
    </thead>
    <tbody>
        <% @items_claimed.reverse.each do |item| %>
        <tr>
            <td>
                <% if user_level_staff? %>
                    <%= link_to 'Edit', edit_item_path(item.id) %>
                    <%= link_to 'History', item_path(item.id) %>
                <% end %>
            </td>
            <% if item.itemDate %>
                <td><%= item.itemDate.strftime("%m/%d/%Y")  %></td>
            <% else %>
                <td><%=  'None'%> </td>
            <% end %>
                <% if item.itemFoundAt %>
                    <td><%= item.itemFoundAt.strftime("%l:%M %P")  %></td>
                <% else %>
                    <td><%=  'None'%> </td>
                <% end %>
            <td><%= item.itemFoundBy || 'No one' %></td>
            <td><%= item.itemLocation || 'None' %></td>
            <td><%= item.itemType || 'No type' %></td>
            <td class="desc"><%= item.itemDescription || 'None' %></td>
            <td>
                <% if item.image.attached? %>
                <image class="preview_image" src="<%=(url_for(item.image)) %>" onerror="this.style.display = 'none'">
            <% else %>
                 No image
            <% end %>
            </td>
            <td><%= item.itemUpdatedBy || 'None' %></td>
                <% if item.itemLastModified %>
                    <td><%= item.itemLastModified.strftime("%m/%d/%Y %l:%M %P")  %></td>
                <% else %>
                    <td><%=  'None'%> </td>
                <% end %>
                <td><%= item.claimedBy || 'None' %></td>
            </tr>
        <% end %>
        </tbody>

        
    </table>