<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<h2>Claimed Items</h2>

<div id="claimed_items_spinner"class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

<table id="claimed_items_table" class="table mt-5">
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Date found</th>
            <th scope="col">Time found</th>
            <th scope="col">Found by</th>
            <th scope="col">Item location</th>
            <th scope="col">Where Found</th>
            <th scope="col">Type of item</th>
            <th scope="col">Item description</th>
            <th scope="col">Item image</th>
            <th scope="col">Updated by</th>
            <th scope="col">Updated at </th>
            <th scope="col">Claimed By</th>
        </tr>
    </thead>
    <tbody>
        <% @items_claimed.reverse.each do |item| %>
        <tr>
            <td>
                <% if user_level_staff? %>
                    <%= link_to 'Edit', edit_item_path(item.id) %>
                    <%= link_to 'History', item_path(item.id) %>
                <% end %>
            </td>
            <% if item.itemDate %>
                <td><%= item.itemDate.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y")  %></td>
            <% else %>
                <td><%=  'None'%> </td>
            <% end %>
                <% if item.itemFoundAt %>
                    <td><%= item.itemFoundAt.in_time_zone("Pacific Time (US & Canada)").strftime("%l:%M %P")  %></td>
                <% else %>
                    <td><%=  'None'%> </td>
                <% end %>
            <td><%= item.itemFoundBy || 'No one' %></td>
            <td><%= item.itemLocation || 'None' %></td>
            <td><%= item.whereFound || 'None' %></td>
            <td><%= item.itemType || 'No type' %></td>
            <td class="desc"><%= item.itemDescription || 'None' %></td>
            <td>
                <% if item.image.attached? %>
                <image class="preview_image" src="<%=(url_for(item.image)) %>" onerror="this.style.display = 'none'">
            <% else %>
                 No image
            <% end %>
            </td>
            <td><%= item.itemUpdatedBy || 'None' %></td>
                <% if item.itemLastModified %>
                    <td><%= item.itemLastModified.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %l:%M %P")  %></td>
                <% else %>
                    <td><%=  'None'%> </td>
                <% end %>
                <td><%= item.claimedBy || 'None' %></td>
            </tr>
        <% end %>
        </tbody>
    </table>

