<%= stylesheet_link_tag 'admin', media: 'all' %>

<h1>Edit item</h1>
<div class="table mt-5">
  <%= form_tag("item_update", method: "post", multipart: true) do %>

    <%= label_tag(:location, "Item location:") %>
    <%= select_tag(:location, options_for_select(@locations_layout, @item.location)) %>

    <%= label_tag(:found_by, "Item found by:") %>
    <%= text_field_tag(:found_by, @item.found_by) %>

    <%= label_tag(:description, "Item description:") %>
    <%= text_field_tag :description, @item.description %>

    <%= label_tag(:item_type, "Item type:") %>
    <%= select_tag(:item_type, options_for_select(@item_type_layout, @item.item_type)) %>

    <%= label_tag(:status, "Item status:") %>
    <%= select_tag(:status, options_for_select(@item_status_layout, @item.status)) %>

    <% if @item.claimed_by.blank? %>
      <%= label_tag(:claimed_byLabel, "Claimed By:", class: 'hidden', id: 'claimed_byLabel') %>
      <%= text_field_tag(:claimed_by, @item.claimed_by, class: 'hidden') %>
    <% else %>
      <%= label_tag(:claimed_byLabel, "Claimed By:", class: '', id: 'claimed_byLabel') %>
      <%= text_field_tag(:claimed_by, @item.claimed_by, class: 'required') %>
    <% end %>

    <%= label_tag(:found_at, "Time found:") %>
    <% if @item.found_at? %>
      <%= time_field_tag :found_at, :found_at, value: @item.found_at.strftime('%T.%L') %>
    <% else %>
      <%= time_field_tag(:found_at) %>
    <% end %>

    <%= label_tag(:date_found, "Date found:") %>
    <% if @item.date_found? %>
      <%= date_field_tag :date_found, :date_found, value: @item.date_found.strftime('%Y-%m-%d') %>
    <% else %>
      <%= date_field_tag(:date_found) %>
    <% end %>

    <div>
      <%= label_tag(:where_found, "Where found:") %>
      <%= text_field_tag :where_found, @item.where_found %>
    </div>

    <%= label_tag(:image, "Image: ") %>
    <%= file_field_tag(:image) %>

    <%= hidden_field_tag(:id, @item.id) %>


    <%= label_tag(:image, "Current image: ") %>
    <% if @item.image.attached? %>
      <img class="preview_image" src="<%= (url_for(@item.image)) %>" onerror="this.style.display = 'none'">
    <% else %>
      No image
    <% end %>

    <h4> Update by: </h4>
    <%= current_user.user_name %>

    <h4>Last updated at: </h4>
    <%= @item.updated_at.in_time_zone.strftime("%B %e, %Y at %I:%M %P") %>

    <div><%= submit_tag("Update item") %></div>
  <% end %>
</div>
