<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_staff? %>
<h1>Edit item</h1>
  <div class="table mt-5">
  <%= form_tag("item_update", method: "post", multipart: true) do %>

    <%= label_tag(:itemLocation, "Item location:") %>
    <%= select_tag(:itemLocation, options_for_select(@locations_layout,@item.itemLocation)) %>

    <%= label_tag(:itemFoundBy, "Item found by:") %>
    <%= text_field_tag(:itemFoundBy, @item.itemFoundBy) %>

    <%= label_tag(:itemDescription, "Item description:") %>
    <%= text_field_tag :itemDescription,  @item.itemDescription %>

    <%= label_tag(:itemType, "Item type:") %>
    <%= select_tag(:itemType, options_for_select(@item_type_layout, @item.itemType)) %>

    <%= label_tag(:itemStatus, "Item status:") %>
    <%= select_tag(:itemStatus, options_for_select(@item_status_layout, @item.itemStatus)) %>

    <%= label_tag(:claimedByLabel, "Claimed By:", class: 'hidden', id:'claimedByLabel') %>
    <%= text_field_tag(:claimedBy,  "" , class: 'hidden') %>

    <%= label_tag(:itemFoundAt, "Time found:") %>
    <% if  @item.itemFoundAt? %>
        <%= time_field_tag :itemFoundAt,:itemFoundAt , value: @item.itemFoundAt.in_time_zone("Pacific Time (US & Canada)").strftime('%T.%L') %>
    <% else %>
        <%= time_field_tag(:itemFoundAt) %>
    <% end %>

    <%= label_tag(:itemDate, "Date found:") %>
    <% if  @item.itemDate? %>
      <%= date_field_tag :itemDate, :itemDate, value: @item.itemDate.in_time_zone("Pacific Time (US & Canada)").strftime('%Y-%m-%d') %>
    <% else %>
      <%= date_field_tag(:itemDate) %>
    <% end %>

    <div>
    <%= label_tag(:whereFound, "Where Found:") %>
    <%=text_field_tag :whereFound, @item.whereFound %>
  </div>

    <%= label_tag(:image, "Image: ") %>
    <%= file_field_tag(:image) %>

    <%= hidden_field_tag(:id, @item.id) %>


    <%= label_tag(:image, "Current Image: ") %>
    <% if @item.image.attached? %>
      <image class="preview_image" src="<%=(url_for(@item.image)) %>" onerror="this.style.display = 'none'">
    <% else %>
        No image 
    <% end %>

    <h4> Update by: </h4>
    <%= cookies[:user_name] %>

    <h4>Last updated at: </h4>
    <%= @item.updated_at.strftime("%B %e, %Y at %I:%M %p") %>

    <div><%= submit_tag("Update item") %></div>
  <% end %>
</div>
<% end %>
