
<h1>Edit item</h1>
<div class="table mt-5">
  <%# TODO: Update controller to support form_with(model:) and scoped params %>
  <%= form_with(url: item_update_path, local: true) do |form| %>
    <%= form.label(:location, 'Item location:') %>
    <%= form.select(:location, options_for_select(@locations_layout, @item.location)) %>

    <%= form.label(:found_by, 'Item found by:') %>
    <%= form.text_field(:found_by, value: @item.found_by) %>

    <%= form.label(:description, 'Item description:') %>
    <%= form.text_field :description, value: @item.description %>

    <%= form.label(:item_type, 'Item type:') %>
    <%= form.select(:item_type, options_for_select(@item_type_layout, @item.item_type)) %>

    <%= form.label(:status, 'Item status:') %>
    <%= form.select(:status, options_for_select(@item_status_layout, @item.status)) %>

    <% if @item.claimed_by.blank? %>
      <%= form.label(:claimed_by_label, 'Claimed By:', class: 'hidden', id: 'claimed_by_label') %>
      <%= form.text_field(:claimed_by, value: @item.claimed_by, class: 'hidden') %>
    <% else %>
      <%= form.label(:claimed_by_label, 'Claimed By:', class: '', id: 'claimed_by_label') %>
      <%= form.text_field(:claimed_by, value: @item.claimed_by, class: 'required') %>
    <% end %>

    <%= form.label(:time_found, 'Time found:') %>
    <%# TODO: figure out why we can't just pass datetime_found %>
    <%= form.time_field :time_found, value: @item.datetime_found.strftime("%T.%L") %>

    <%= form.label(:date_found, 'Date found:') %>
    <%= form.date_field(:date_found, value: @item.date_found) %>

    <div>
      <%= form.label(:where_found, 'Where found:') %>
      <%= form.text_field(:where_found, value: @item.where_found) %>
    </div>

    <%= form.label(:image, 'Image: ') %>
    <%= form.file_field(:image) %>

    <%= form.hidden_field(:id, value: @item.id) %>


    <%= form.label(:image, 'Current image: ') %>
    <% if @item.image.attached? %>
      <img class="preview_image" alt="image of item" src="<%= (url_for(@item.image)) %>">
    <% else %>
      No image
    <% end %>

    <h4> Update by: </h4>
    <%= current_user.user_name %>

    <h4>Last updated at: </h4>
    <%= @item.updated_at.in_time_zone.strftime('%B %e, %Y at %I:%M %P') %>

    <div><%= form.submit('Update item') %></div>
  <% end %>
</div>
