<%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_staff? %>

  <h1>Items#edit</h1>
  <div class="new_model_container">
  <%= form_tag("item_update", method: "post", multipart: true) do %>

    <%= label_tag(:itemLocation, "Item location:") %>
    <%= select_tag(:itemLocation, options_for_select(@locations_layout)) %>

    <%= label_tag(:itemType, "item type") %>
    <%= select_tag(:itemType, options_for_select(@item_type_layout)) %>

    <%= label_tag(:itemStatus, "item Status") %>
    <%= select_tag(:itemStatus, options_for_select(@item_status_layout)) %>

    <%= label_tag(:itemDescription, "item description") %>
    <%=text_field_tag :itemDescription,  @item.itemDescription %>

    <%= label_tag(:image, "Image: ") %>
    <%= file_field_tag(:image) %>

    <%= hidden_field_tag(:id, @item.id) %>

    <%= submit_tag("update item") %>
  <% end %>
</div>
<% end %>
