<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_staff? %>
  <div class="table mt-5">
  <%= form_tag("item_update", method: "post", multipart: true) do %>

    <%= label_tag(:itemLocation, "Item location:") %>
    <%= select_tag(:itemLocation, options_for_select(@locations_layout,@item.itemLocation)) %>

    <%= label_tag(:itemFoundBy, "Item found by:") %>
    <%= text_field_tag(:itemFoundBy, @item.itemFoundBy) %>

    <%= label_tag(:itemType, "item type") %>
    <%= select_tag(:itemType, options_for_select(@item_type_layout, @item.itemType)) %>

    <%= label_tag(:itemStatus, "item Status") %>
    <%= select_tag(:itemStatus, options_for_select(@item_status_layout)) %>

    <%= label_tag(:itemDescription, "item description") %>
    <%= text_field_tag :itemDescription,  @item.itemDescription %>

    <%= label_tag(:image, "Image: ") %>
    <%= file_field_tag(:image) %>

    <%= hidden_field_tag(:id, @item.id) %>


    <%= label_tag(:image, "Current Image: ") %>
    <% if @item.image.attached? %>
      <image class="preview_image" src="<%=(url_for(@item.image)) %>" onerror="this.style.display = 'none'">
    <% else %>
        No image 
    <% end %>

    <h4> Update by: </h4>
    <%= cookies[:user_name] %>

    <h4>Last updated at: </h4>
    <%= @item.updated_at.strftime("%B %e, %Y at %I:%M %p") %>

    <%= submit_tag("update item") %>
  <% end %>
</div>
<% end %>
