<h1>Items list</h1>

<table class="listing" summary="Claimed list">
    <tr class="header">
      <th>Actions </th>
      <th>Item ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Found by</th>
<<<<<<< HEAD
      <th>Found at </th>
=======
>>>>>>> Adding basic CRUD features to insert and search on keywords
      <th>Type of item</th>
      <th>Item description</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= link_to("Show", '#', :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
      </td>
      <td><%= item.itemID %></td>
      <td><%= item.itemDate %></td>
      <td><%= item.itemFoundAt %></td>
<<<<<<< HEAD
      <td><%= item.itemFoundBy %></td>
      <td><%= item.locations[item.itemLocation] || 'none' %></td>
=======
      <td><%= item.itemUpdatedBy %></td>
>>>>>>> Adding basic CRUD features to insert and search on keywords
      <td><%=item.itemType %></td>
      <td><%= item.itemDescription %></td>
    </tr>
    <% end %>
<<<<<<< HEAD
<<<<<<< HEAD:app/views/items/index.html.erb
  </table>
=======
  </table>
<p> ITEMS:  <%= link_to('show all', items_path) %></p>
>>>>>>> forms setup branch:app/views/forms/search_display.html.erb
=======
  </table>
>>>>>>> Adding basic CRUD features to insert and search on keywords
