<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_staff? %>
  <div class="table mt-5">
  <%= form_tag("item_update", method: "post", multipart: true) do %>

    <%= label_tag(:itemLocation, "Item location:") %>
    <%= select_tag(:itemLocation, options_for_select(@locations_layout)) %>

    <%= label_tag(:itemType, "item type") %>
    <%= select_tag(:itemType, options_for_select(@item_type_layout)) %>

    <%= label_tag(:itemStatus, "item Status") %>
    <%= select_tag(:itemStatus, options_for_select(@item_status_layout)) %>

    <%= label_tag(:itemDescription, "item description") %>
    <%=text_field_tag :itemDescription,  @item.itemDescription %>

    <%= label_tag(:image, "Image: ") %>
    <%= file_field_tag(:image) %>

    <%= hidden_field_tag(:id, @item.id) %>


    <%= label_tag(:image, "Image: ") %>

    <h4> Update by: </h4>
    <%= session[:user_name] %>

    <h4>Last updated at: </h4>
    <%= @item.updated_at.strftime("%B %e, %Y at %I:%M %p") %>

    <%= submit_tag("update item") %>
  <% end %>
</div>


<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col" >Index</th>
      <th scope="col" >Date</th>
      <th scope="col" >Author</th>
      <th scope="col">Event</th>
      <th scope="col"> changeset </th>
    </tr>
  </thead>

  <tbody>
    <% @item.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= version.created_at %></td>
        <td><%= version.whodunnit || "unknown"%></td>
        <td><%= version.event.humanize %></td>
        <td>
          <ul>
          <% version.changeset.except(:updated_at).each do |value| %>
            <li><%= value[0] + " : " + value[1][0].to_s  + " to " +  value[1][1].to_s%> </li>
          <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
