<h2>Found Items</h2>

<table id="unclaimed_items_table" class="table mt-5">
  <thead class="thead-light">
    <tr>
      <% if current_user.staff_or_admin? %>
        <th scope="col">Actions</th>
      <% end %>
      <th scope="col">Date found</th>
      <th scope="col">Time found</th>
      <th scope="col">Found by</th>
      <th scope="col">Item location</th>
      <th scope="col">Where found</th>
      <th scope="col">Type of item</th>
      <th scope="col">Item description</th>
      <th scope="col">Item image</th>
      <th scope="col">Updated by</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <%= paginate @unclaimed_items %>
    <% @unclaimed_items.each do |item| %>
      <tr>
        <% if current_user.staff_or_admin? %>
          <td>
            <%= link_to 'Edit', edit_item_path(item.id) %>
            <%= link_to 'History', item_path(item.id) %>
          </td>
        <% end %>
        <% if item.date_found %>
          <td><%= item.date_found.strftime('%m/%d/%Y') %></td>
        <% else %>
          <td><%= 'None' %> </td>
        <% end %>
        <% if item.datetime_found %>
          <td><%= item.datetime_found.strftime('%l:%M %P') %></td>
        <% else %>
          <td><%= 'None' %> </td>
        <% end %>
        <td><%= item.found_by || 'No one' %></td>
        <%# TODO: enforce case-insensitive uniqueness w/o mangling user-entered names %>
        <td><%= (item.location || 'None').titleize %></td>
        <td><%= item.where_found || 'None' %></td>
        <%# TODO: enforce case-insensitive uniqueness w/o mangling user-entered names %>
        <td><%= (item.item_type || 'No type').titleize %></td>
        <td class="desc"><%= item.description || 'None' %></td>
        <td>
          <% if item.image.attached? %>
            <img src="<%= (url_for(item.image)) %>" alt="image of item" class="preview_image">
          <% else %>
            No image
          <% end %>
        </td>
        <td>
          <%= item.updated_by || 'None' %>
        </td>
        <td>
          <%= item.updated_at.in_time_zone.strftime("%m/%d/%Y %l:%M %P") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
