<%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
    <div class="addit">&nbsp;</div>
		<h1>New item added</h1>
        <table class="admin_table">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Found by</th>
                <th>Found at</th>
                <th>Type of item</th>
                <th>Item description</th>
                <th>Item Image</th>
            </tr>
            <tr>
                <td><%= @items.itemDate %></td>
                <td><%= @items.itemFoundAt %></td>
                <td><%= @items.itemFoundBy %></td>
                <td><%= @items.itemLocation || 'none' %></td>
                <td><%= @items.itemType || 'No type' %></td>
                <td><%= @items.itemDescription %></td>
                <td>
                    <% if @items.image.attached? %>
                        <image class="preview_image" src="<%=(url_for(@items.image)) %>">
                    <% else %>
                        No image 
                    <% end %>
                </td>
            </tr>
        </table>