
    <div class="addit">&nbsp;</div>
		<h1>New item added</h1>
        <table class="item-display">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Found by</th>
                <th>Found at</th>
                <th>Type of item</th>
                <th>Item description</th>
            </tr>
            <tr>
                <td><%= @items.itemDate %></td>
                <td><%= @items.itemFoundAt %></td>
                <td><%= @items.itemFoundBy %></td>
                <td><%= @items.itemLocation || 'none' %></td>
                <td><%= @items.itemType || 'No type' %></td>
                <td><%= @items.itemDescription %></td>
            </tr>
        </table>