<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_staff? %>
<h1>Item history</h1>

<h2>Current values</h2>
<div class="form-group row">
  <h5 class="col-2">Date found</h5> 
  <div class="col-4"><%= @item.itemDate || 'None'%></div>
</div>
<div class="form-group row">
  <h5 class="col-2">Time found</h5> 
  <div class="col-4"><%= @item.itemFoundAt || 'None' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Found by</h5> 
  <div class="col-4"><%= @item.itemFoundBy || 'No one' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item location</h5> 
  <div class="col-4"><%= @item.itemLocation || 'None' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Type of item</h5> 
  <div class="col-4"><%= @item.itemType || 'No type' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item description</h5> 
  <div class="col-4"><%= @item.itemDescription || 'None' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item image</h5>
    <% if @item.image.attached? %>
      <image class="preview_image" src="<%=(url_for(@item.image)) %>">
    <% else %>
    <div class="col-4">No image </div>
    <% end %>
  </div>
  <div class="form-group row">
    <h5 class="col-2">Last updated</h5>
    <div class="col-4"><%= @item.itemUpdatedBy || 'None' %></div>
</div>
<div class="form-group row">
  <h5 class="col-2">Last updated</h5>
  <div class="col-4"><%= @item.itemLastModified || 'None'  %></div>
</div>

<h2>Change history</h2>
<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col" >Date/time</th>
      <th scope="col" >Updated by</th>
      <th scope="col">Action</th>
      <th scope="col"> What changed </th>
    </tr>
  </thead>

  <tbody>
    <% @item.versions.reverse.each do |version| %>
    <% if !version.changeset.except(:updated_at).empty?%>
      <tr>
        <td><%= version.created_at %></td>
        <td><%= version.whodunnit || "unknown"%></td>
        <td><%= version.event.humanize %></td>
        <td>
          <ul>
          <% version.changeset.except(:updated_at).each do |value| %>
          <% if( value[0] == "image_url") %>
            <li> 
              New image upload
            </li>
          <% else %>
            <li><%= value[0] + " : " + value[1][0].to_s  + " to " +  value[1][1].to_s%> </li>
          <% end %>
          <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>
