
<h1>Item history</h1>

<h2>Current values</h2>
<div class="form-group row">
  <h5 class="col-2">Date found</h5>
  <% if @item.date_found %>
    <div class="col-4"><%= @item.date_found.strftime('%m/%d/%Y') %></div>
  <% else %>
    <div class="col-4"> None</div>
  <% end %>
</div>
<div class="form-group row">
  <h5 class="col-2">Time found</h5>
  <% if @item.datetime_found %>
    <div class="col-4"><%= @item.datetime_found.strftime('%l:%M %P') %></div>
  <% else %>
    <div class="col-4"> None</div>
  <% end %>
</div>

<div class="form-group row">
  <h5 class="col-2">Found by</h5>
  <div class="col-4"><%= @item.found_by || 'No one' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item location</h5>
  <div class="col-4"><%= @item.location || 'None' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Type of item</h5>
  <div class="col-4"><%= @item.item_type || 'No type' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item description</h5>
  <div class="col-4"><%= @item.description || 'None' %></div>
</div>

<div class="form-group row">
  <h5 class="col-2">Item image</h5>
  <% if @item.image.attached? %>
    <img class="preview_image" alt="image of item" src="<%= (url_for(@item.image)) %>">
  <% else %>
    <div class="col-4">No image</div>
  <% end %>
</div>
<div class="form-group row">
  <h5 class="col-2">Last updated by</h5>
  <div class="col-4"><%= @item.updated_by || 'None' %></div>
</div>
<div class="form-group row">
  <h5 class="col-2">Last updated</h5>
  <% if @item.updated_at != @item.created_at %>
    <div class="col-4"><%= @item.updated_at.in_time_zone.strftime('%m/%d/%Y %l:%M %P') %></div>
  <% else %>
    <div class="col-4"> None</div>
  <% end %>
</div>

<h2>Change history</h2>
<table class="table mt-5">
  <thead class="thead-light">
  <tr>
    <th scope="col">Date/time</th>
    <th scope="col">Updated by</th>
    <th scope="col">Action</th>
    <th scope="col"> What changed</th>
  </tr>
  </thead>

  <tbody>
  <% @item.versions.reverse.each do |version| %>
    <% changeset = version.changeset %>
    <% unless changeset.empty? %>
      <tr>
        <td><%= version.created_at.in_time_zone.strftime('%m/%d/%Y %l:%M %P') %></td>
        <td><%= version.whodunnit || 'unknown' %></td>
        <td><%= version.event.humanize %></td>
        <td>
          <ul>
            <% changeset.each do |value| %>
              <%
                attr = value[0]
                values = value[1]
                val_old = values[0]
                val_new = values[1]
              %>
              <%# TODO: clean this up %>
              <% if attr == 'image_url' %>
                <li>
                  New image upload
                </li>
              <% elsif attr == 'status' %>
                <li><%= 'Item status : ' + status_codes(val_old) + ' to ' + status_codes(val_new) %> </li>
              <% elsif attr == 'updated_at' %>
                <li><%= attr + ' : ' + history_to_pst(val_old) + ' to ' + history_to_pst(val_new) %>
              <% elsif attr == 'created_at' %>
                <li><%= 'Created at ' + history_to_pst(val_new) %>
              <% elsif attr == 'datetime_found' %>
                <li><%= attr + ' : ' + history_to_readable(val_old) + ' to ' + history_to_readable(val_new) %>
              <% elsif attr == 'claimed_by' %>
                <% if history_claimed_map(val_old) == history_claimed_map(val_new) %>
                  <li><%= 'Claimed by : ' + history_claimed_map(val_old) %></li>
                <% else %>
                  <li><%= 'Claimed by : ' + history_claimed_map(val_old) + ' to ' + history_claimed_map(val_new) %> </li>
                <% end %>
              <% elsif attr == 'date_found' %>
                <li><%= attr + ' : ' + history_to_readable_day(val_old) + ' to ' + history_to_readable_day(val_new) %>
              <% else %>
                <li><%= attr + ' : ' + val_old.to_s + ' to ' + val_new.to_s %> </li>
              <% end %>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
