<% provide :title, 'Item History' %>

<h1><%= yield :title %></h1>

<h2>Current values</h2>

<dl class="row">
  <dt class="col-2">Date found</dt>
  <dd class="col-4"><%= @item.date_found.strftime('%m/%d/%Y') %></dd>

  <dt class="col-2">Time found</dt>
  <dd class="col-4"><%= @item.datetime_found&.strftime('%l:%M %P') || 'None' %></dd>

  <dt class="col-2">Found by</dt>
  <dd class="col-4"><%= @item.found_by || 'No one' %></dd>

  <dt class="col-2">Item location</dt>
  <dd class="col-4"><%= @item.location %></dd>

  <dt class="col-2">Type of item</dt>
  <dd class="col-4"><%= @item.item_type %></dd>

  <dt class="col-2">Item description</dt>
  <dd class="col-4"><%= @item.description %></dd>

  <dt class="col-2">Item image</dt>
  <dd class="col-4">
  <% if @item.image.attached? %>
    <img class="preview_image" alt="Image is present" src="<%= (url_for(@item.image)) %>">
  <% else %>
    No image
  <% end %>
  </dd>

  <dt class="col-2">Last updated by</dt>
  <dd class="col-4"><%= @item.updated_by || 'None' %></dd>

  <dt class="col-2">Last updated</dt>
  <dd class="col-4">
  <% if @item.updated_at != @item.created_at %>
    <%= @item.updated_at.in_time_zone.strftime('%m/%d/%Y %l:%M %P') %>
  <% else %>
    None
  <% end %>
  </dd>
</dl>

<h2>Change history</h2>
<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date/time</th>
      <th scope="col">Updated by</th>
      <th scope="col">Action</th>
      <th scope="col">What changed</th>
    </tr>
  </thead>

  <tbody>
    <% @item.versions.reverse.each do |version| %>
      <% changeset = version.changeset %>
      <% unless changeset.empty? %>
        <tr>
          <td><%= version.created_at.in_time_zone.strftime('%m/%d/%Y %l:%M %P') %></td>
          <td><%= version.whodunnit || 'unknown' %></td>
          <td><%= version.event.humanize %></td>
          <td>
            <ul>
              <% changeset.each do |value| %>
                <%
                  attr = value[0]
                  values = value[1]
                  val_old = values[0]
                  val_new = values[1]
                %>
                <li>
                  <% if attr == 'image_url' %>
                    New image uploaded
                  <% else %>
                    <%= attr.humanize %>:
                    <% if val_old.nil? || val_old == val_new %>
                      <%= format_history_value(attr, val_new) %>
                    <% else %>
                      <%= [val_old, val_new].map { |v| format_history_value(attr, v) }.join(' to ') %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
