<%= stylesheet_link_tag 'admin', media: 'all' %>
<h1>Search for lost items</h1>
<div class="mb-4 form-group">
  <%= form_tag('items', method: 'get') do %>

    <%
      # TODO: more elegant way to cache last selection
      item_type_options = options_for_select(@item_type_layout, cookies[:item_type] || '(any type)')
      location_options = options_for_select(@locations_layout, cookies[:location] || '(any location)')
    %>

    <%= label_tag(:item_type, 'Item type:') %>
    <%= select_tag(:item_type, item_type_options) %>

    <%= label_tag(:keyword, 'Keywords:') %>
    <%= text_field_tag :keyword, nil, placeholder: 'Enter search term' %>

    <%= label_tag(:location, 'Location:') %>
    <%= select_tag(:location, location_options) %>


    <div>
      <h2>Search by date range: </h2>
      <%= label_tag(:date_found, 'Start date:') %>
      <%= date_field_tag(:date_found) %>

      <%= label_tag(:date_foundEnd, ' End date:') %>
      <%= date_field_tag(:date_foundEnd, nil, max: Date.today) %>
    </div>

    <div>
      <div class="btn-group" role="group">
        <input type="submit" name="commit" value="Submit" class="btn btn-primary mb-2" data-disable-with="Submit">
      </div>
    </div>
  <% end %>
</div>
