<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if user_level_read_only? %>
  <h1>Search for lost items</h1>
  <ul style="font-size:80%">
    <li>To <b>browse</b> all lost items for your library, just click search</li>
    <li>To <b>browse</b> all lost items in all libraries, check "Search all libraries and locations" and click search</li>
  </ul>
  <div class="mb-4 form-group">
        <%= form_tag("item_search", method: "post") do %>

        <%= label_tag(:itemType, "Item type:") %>
        <%= select_tag(:itemType, options_for_select(@item_type_layout)) %>

        <%= label_tag(:keyword, "Keyword:") %>
        <%=text_field_tag :keyword, nil, placeholder: 'Enter search term'%>

        <%= label_tag(:itemLocation, "Location:") %>
        <%= select_tag(:itemLocation, options_for_select(@locations_layout)) %>

        <%= label_tag(:search_all, "Search all libraries and locations:") %>
        <%= check_box_tag("searchAll") %>
        <div>
          <div class="btn-group" role="group">
            <input type="submit" name="commit" value="Submit" class="btn btn-primary" data-disable-with="Submit">
          </div>
      </div>
  <% end %>
  </div>
  <% end %>
