<h1>Search for lost items</h1>
<div class="mb-4 form-group">
  <%= form_with(url: items_path, method: :get, local: true) do |form| %>

    <%
      # TODO: more elegant way to cache last selection
      item_type_options = options_for_select(@item_type_layout, cookies[:item_type])
      location_options = options_for_select(@locations_layout, cookies[:location])
    %>

    <%= form.label(:item_type, 'Item type:') %>
    <%= form.select(:item_type, item_type_options, include_blank: true) %>

    <%= form.label(:keyword, 'Keywords:') %>
    <%= form.text_field :keyword, placeholder: 'Enter search term' %>

    <%= form.label(:location, 'Location:') %>
    <%= form.select(:location, location_options, include_blank: true) %>


    <div>
      <h2>Search by date range: </h2>
      <%= form.label(:date_found, 'Start date:') %>
      <%= form.date_field(:date_found) %>

      <%= form.label(:date_found_end, 'End date:') %>
      <%= form.date_field(:date_found_end, max: Date.current) %>
    </div>

    <div>
      <div class="btn-group" role="group">
        <input type="submit" name="commit" value="Submit" class="btn btn-primary mb-2" data-disable-with="Submit">
      </div>
    </div>
  <% end %>
</div>
