<h1>Search for lost items</h1>
<div style="width: 100%;">
  <%= form_with(url: items_path, method: :get, local: true) do |form| %>

    <%
      # TODO: more elegant way to cache last selection
      item_type_options = options_for_select(@item_type_layout, cookies[:item_type])
      location_options = options_for_select(@locations_layout, cookies[:location])
    %>

    <div>
      <%= form.label(:item_type, 'Item type:') %>
      <%= form.select(:item_type, item_type_options, { include_blank: true }, { class: 'form-select' }) %>
    </div>
    <div>
      <%= form.label(:keyword, 'Keywords:') %>
      <%= form.text_field :keyword, placeholder: 'Enter search terms separated by spaces' %>
    </div>
    <div>
      <%= form.label(:location, 'Location:') %>
      <%= form.select(:location, location_options, { include_blank: true }, { class: 'form-select' }) %>
    </div>

    <fieldset>
      <legend>Search by date range:</legend>
      <%= form.label(:date_found, 'Start date:') %>
      <%= form.date_field(:date_found) %>

      <%= form.label(:date_found_end, 'End date:') %>
      <%= form.date_field(:date_found_end, max: Date.current) %>
    </fieldset>

    <hr/>

    <div class="btn-group" style="padding-top: 8px; padding-bottom: 8px;">
      <input type="submit" name="commit" value="Submit" class="btn btn-primary mb-2" data-disable-with="Submit">
    </div>
  <% end %>
</div>
