<% provide :title, 'Edit Location' %>

<h1><%= yield :title %></h1>
<div class="table mt-5">
  <%= form_with(url: location_path, method: :put, local: true) do |form| %>
    <%# TODO: enforce case-insensitive uniqueness w/o mangling user-entered names %>
    <%= form.label(:location_name, 'Location name:') %>
    <%= form.text_field(:location_name, value: @location.location_name.titleize) %>

    <%= form.label(:location_active, 'Location active') %>
    <%= form.check_box(:location_active, checked: @location.location_active) %>

    <%= form.hidden_field(:id, value: @location.id) %>
    <div><%= form.submit('Update location') %></div>
  <% end %>
</div>
