<!DOCTYPE HTML>
<html lang="en">
<head>
  <title><%= yield :title %> - Berkeley Library Lost and Found</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<main id="main">
  <a href="#main" class="visually-hidden-focusable skip-link">Skip to main content</a>
  <div id="app" class="container">
    <%= layouts_nav %>
    <%= render(partial: 'layouts/flash') %>
    <%= yield %>
    <%= layouts_footer %>
  </div>
</main>
</body>
</html>
