<html>
  <head>
    <title>LostAndFound</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main id="main">
      <a href="#main" class="visually-hidden focusable skip-link">Skip to main content</a>
      <div id="app" class="container">
        <%= layouts_nav %>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= yield %>
        <%= layouts_footer %>
      </div>
    </main>
  </body>
</html>



